@model IEnumerable<EticaretShoes.Models.Shoes>

@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListProduct</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoesName)
            </td>
            <td>
                <img src="~/images/@item.imageUrl" style=" width:50px;height:50px;" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ShoesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
